<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6xmo9lEVS23zY9kBrFvlwhL9NLFeBRdY</string>
	<key>GCM_SENDER_ID</key>
	<string>228674115584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joeazt.RevisionApp</string>
	<key>PROJECT_ID</key>
	<string>revision-app-b09fc</string>
	<key>STORAGE_BUCKET</key>
	<string>revision-app-b09fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228674115584:ios:5c432c87fedaefe35be0e5</string>
</dict>
</plist>